/*Variables
$fondoPrimario: #0B0D2A;
$textoPrimario: #D0D0E7;
  color: #0e31b3;
*/

/*font-family: 'Montserrat', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #0b0d2a62;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header {
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

/*NAV*/

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 140px;
  margin-left: 20px;
}

.bar-btn {
  font-size: 25px;
  color: #FFFFFF;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 100%;
  max-height: 60vh;
  top: 90px;
  background: rgba(0, 0, 0, .95);
  text-align: center;
  transition: all .5s;
}

.nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all .5s;
}

.nav-menu li a {
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-menu li a.active,
.nav-menu li a:hover {
  color: #0e31b3;
  transition: .3s;

}

#check {
  display: none;
}

#check:checked~.nav-menu {
  height: 100vh;
}

#check:checked~.nav-menu li {
  display: block;
}

/*BANNER TEXT*/
.banner-text {
  padding: 0 30px;
  margin-top: 50px;
  text-align: center;
  color: white;

}

.banner-text h1 {
  font-size: 26px;
  margin-bottom: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}


.banner-text span {
  font-weight: 900;
}

.banner-text h2 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}

.banner-text div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button1 {
  padding: 10px 10px;
  background-color: #0e31b3;
  color: #FFFFFF;
  border-radius: 5px;
  width: 185px;
  margin: 10px;
}

.button1:hover {
  background-color: #FFFFFF;
  color: #0e31b3;
  transition: .5s;
}

.button2 {
  padding: 10px 30px;
  background-color: #FFFFFF;
  color: #0e31b3;
  border-radius: 5px;
  width: 185px;
  margin: 10px;
}

.button2:hover {
  background-color: #0e31b3;
  color: #FFFFFF;
  transition: .5s;
}

/*VIDEO FONDO*/
video {
  position: fixed;
  min-width: 100vw;
  z-index: -100;
  background-color: #030414e0;
  background-size: cover;
  transition: 3s opacity;

}

.stopfade {
  opacity: .8;
}

.opacidad {
  height: 90vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #080324;
  opacity: .85;
  z-index: -1;
}

/*--------------------------------*/
/*----------Seccion 1 -----------*/
/*------------cards-------------*/


#infoCurso{
  display: flex;
  flex-wrap: wrap;
  background-color: #0D102C;
  width: 100vw;
  position: absolute;
}
.skill-card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 15px auto;
  height: 310px;
  background-color: aliceblue;
}

.skill-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill-card:hover .skill-card__header {
  height: 40px;
}
.skill-card:hover .skill-card__header .skill-card__icon {
  transform: translateX(-50%) translateY(-50%) scale(3);
}
.skill-card:hover .skill-card__body {
  height: 300px;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li {
  transform: translateX(0);
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  transition-duration: 0.5s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(1) {
  transition-delay: 0.25s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(2) {
  transition-delay: 0.5s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(3) {
  transition-delay: 0.75s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(4) {
  transition-delay: 1s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(5) {
  transition-delay: 1.25s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(6) {
  transition-delay: 1.5s;
}
.skill-card .skill-card__header {
  position: relative;
  background-color: #e8ecfd;
  height: 160px;
  transition: height 0.5s;
  overflow: hidden;
}
.skill-card .skill-card__header .skill-card__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
  height: 293px;
  transition: transform 0.5s;
}
.skill-card .skill-card__body {
  height: 106px;
  transition: height 0.5s;
  overflow: hidden;
}
.skill-card .skill-card__body .skill-card__title {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}
.skill-card .skill-card__body .skill-card__duration {
  color: #9E9E9E;
  font-style: italic;
  padding-left: 10px;
}
.skill-card .skill-card__body .skill-card__knowledge {
  margin-top: 10px;
  color: #424242;
  margin-left: 20px;
}
.skill-card .skill-card__body .skill-card__knowledge li {
  margin-top: 5px;
  transition-duration: 0;
  transition-delay: 0.5s;
  transform: translateX(-100%);
}


/*--------------------------------*/
/*----------Media Querys---------*/
/*------------------------------*/

@media (min-width: 900px) {

  /*Menú*/
  .logo {
    margin-left: 30px;
  }

  .bar-btn {
    display: none;
  }

  .nav-menu {
    top: 0;
    transition: none;
    background: none;
    text-align: right;
  }

  .nav-menu li {
    display: inline;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
  }

  .nav-menu li a {
    font-size: 12px;
  }

  .banner-text h1 {
    font-size: 70px;
    margin-bottom: 30px;
  }

  .banner-text {
    font-size: 20px;

  }
}