/*Variables
$fondoPrimario: #0B0D2A;
$textoPrimario: #D0D0E7;
  color: #0e31b3;
*/

/*font-family: 'Montserrat', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
}

main {
  padding-bottom: 1rem;
  background-color: #0D102C;
}

/* HEADER */

.header {
  width: 100%;
  height: 80vh;
}

/*NAV*/
.logo {
  width: 140px;
  margin-left: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #0B0D2A;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 10vh;
}


.link:hover {
  background-color: #359df3;
  color: white;
}

.topnav .icon {
  display: none;
}

/*BANNER TEXT*/
.banner-text {
  padding: 10px 30px;
  margin-top: 50px;
  text-align: center;
  color: white;

}

.banner-text h1 {
  font-size: 26px;
  margin-bottom: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  max-width: 880px;
  margin: 0 auto;
}

.banner-text span {
  font-weight: 900;
}

.banner-text h2 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}

.banner-text div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button1 {
  padding: 10px 10px;
  background-color: #0e31b3;
  color: #FFFFFF;
  border-radius: 5px;
  width: 185px;
  margin: 10px;
}

.button1:hover {
  background-color: #FFFFFF;
  color: #0e31b3;
  transition: .5s;
}

.button2 {
  padding: 10px 30px;
  background-color: #FFFFFF;
  color: #0e31b3;
  border-radius: 5px;
  width: 185px;
  margin: 10px;
}

.button2:hover {
  background-color: #0e31b3;
  color: #FFFFFF;
  transition: .5s;
}


/*VIDEO FONDO*/
#video {
  position: fixed;
  min-width: 350vw;
  z-index: -100;
  background-color: #030414e0;
  background-size: cover;
  transition: 3s opacity;
}

.opacidad {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 12vh;
  left: 0;
  background-color: #080324;
  opacity: .85;
  z-index: -1;
}

.opacidad.paddingTop {
  margin-top: 37vh;
}

/*--------------------------------*/
/*----------Seccion 1 -----------*/
/*----------infoCurso-----------*/

.nombre-curso {
  padding: 0 30px;
  margin: 50px auto 0 auto;
  text-align: center;
  color: white;
  padding-bottom: 0;
}

.nombre-curso h2 {
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.nombre-curso h2 span {

  font-weight: 900;
}

.nombre-curso p {
  margin: 30px 0;
}

.nombre-curso h3 {
  font-weight: 600;
}

.btn-descarga {
  padding: 10px 30px;
  background-color: #FFFFFF;
  color: #0e31b3;
  border-radius: 5px;
  width: 261px;
  margin: 10px auto;
  text-align: center;
}

.btn-descarga:hover {
  background-color: #0e31b3;
  color: #FFFFFF;
  transition: .5s;
}

#infoCurso {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #0D102C;
  width: 100vw;
  /* position: absolute; */
}


/*--------------------------------*/
/*---------- Pagination ---------*/
/*------------------------------*/


.pagination ul {
  display: flex;
  background-color: #FFFFFF;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4px;
  border-radius: 50px;
}

.pagination ul li {
  /*Tiene que matchear con el color de fondo de la section*/
  color: #0D102C;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.pagination ul li.num {
  height: 45px;
  width: 45px;
  margin: 0 3px;
}

.pagination ul li.btn {
  background-color: #FFFFFF;
  padding: 0 20px;
}
.pagination ul li.prev {
  border-radius: 25px 5px 5px 25px;
}
.pagination ul li.sig {
  border-radius: 5px 25px 25px 5px;
}

.pagination ul li.active,
.pagination ul li.num:hover,
.pagination ul li.btn:hover{
  color: white;
  background-color: #0D102C;

}

/*--------------------------------*/
/*---------- Info Curso ---------*/
/*------------------------------*/

#temario{
  width: 390px;
  margin: 0 auto;
  margin-top: 45px;
}
.temario{
  background-color: #FFFFFF;
  margin: 0 auto;
  border-radius: 30px;
  padding-top: 20px;
}
.temario-titulo{
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
.temario-titulo span  {
  font-size: 25px;
}

.temario-lista{
  list-style: disc;
  margin-left: 35px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 30px;
}

.temario-lista a, .temario-lista span{
  color: #0B0D2A;
  font-weight: 900;
}
/*--------------------------------*/
/*---------- Formulario ---------*/
/*------------------------------*/
#formInscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.response{
  color: #808080;
  font-size: 33px;
  text-align: center;
  margin-top: 2rem;
}
.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 390px;
  margin: 2rem auto 2rem auto;
  padding-bottom: 2rem;
}

.form label{
  color: white;
}
#mc_embed_signup form {
  position: static;}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 38px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
  line-height: 1.6;
}

.seleccion {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: rgb(165, 157, 157);
  font-size: 18px;
  outline: 0;
  padding: 0;
  width: 100%;
}

.input-container {
  height: 50px;
  width: 100%;
  margin-top: 5px;
}
.campoRequerido{
  margin-top: 3rem;
  color: rgb(153, 153, 153);
  text-align: right;
}

.motivo{
  font-size: 20px;
  color: rgb(153, 153, 153);
}
.ic1 {
  margin-top: 7px;
}

.ic2 {
  margin-top: 30px;
}
.ic3{

  margin-top: 2rem;
}


.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
  color: #808097;
}

.input:focus~.placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}


/*--------------------------------*/
/*----------Footer ---------------*/
/*------------------------------*/

footer {
  height: 3vh;
  color: white;
  text-align: center;
  margin: 10px auto;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
}

.contacto {
  padding: 0 30px;
  margin-top: 50px;
  text-align: center;
  color: #fff;
}

.contacto h3 {
  font-size: 30px;
  margin: 30px auto;
}

i.fab {
  padding: 0 38px;
  margin-bottom: 30px;
  font-size: 50px;
}

.contacto a {
  color: white;
}

.displayNone {
  display: none !important;
}

/*--------------------------------*/
/*----------Media Querys---------*/
/*------------------------------*/

@media (min-width: 750px) {

  /*Menú*/
  .logo {
    margin-left: 30px;
  }
  .banner-text h1 {
    font-size: 70px;
    margin-bottom: 30px;
  }
  .banner-text {
    font-size: 20px;
  }
  .nombre-curso {
    max-width: 800px;
  }

  .cards {
    margin: 5rem 0;
  }

  .btn-descarga {
    margin: 2rem auto 2rem auto;
  }
  /*VIDEO*/
  #video{
    min-width: 170vw;
  }

  /*FORM*/
  .form{
    width: 600px;
  }

  /*OPACIDAD*/
  .opacidad{
    top: 10vh;
  }
  /*TEMARIO*/
  #temario{
    width: 650px;
  }
}


/* Mobile last - NavBar*/
@media (max-width: 800px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    margin: 10px auto;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


}