/*Variables
$fondoPrimario: #0B0D2A;
$textoPrimario: #D0D0E7;
  color: #0e31b3;
*/

/*font-family: 'Montserrat', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  background-color: #0B0D2A;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header{
  width: 100%;
  height: 100vh;
  background-image: url('../img/fondo/23147.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*NAV*/

nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 140px;
  margin-left: 20px;
}

.bar-btn{
  font-size: 25px;
  color: #FFFFFF;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu{
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 90px;
  background: rgba(0, 0, 0, .95);
  text-align: center;
  transition: all .5s;
}

.nav-menu li{
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all .5s;
}

.nav-menu li a{
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-menu li a.active, .nav-menu li a:hover{
  color: #0e31b3;
  transition: .3s;

}

#check {
  display: none;
}

#check:checked ~ .nav-menu{
  height: 100vh;
}
#check:checked ~ .nav-menu li{
  display: block;
}

/*BANNER TEXT*/
.banner-text{
  padding: 0 30px;
  margin-top: 50px;
  text-align: center;
  color: #FFFFFF;
}

.banner-text h1{
  font-size: 50px;
  margin-bottom: 30px;
}


.banner-text span{
  color: #0e31b3;
}

.banner-text h2{
  font-size: 16px;
  font-weight: 500;
}
.banner-text div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button1{
  padding: 10px 30px;
  background-color: #0e31b3;
  color: #FFFFFF;
  border-radius: 5px;
}

.button1:hover{
  background-color: #FFFFFF;
  color: #0e31b3;
  transition: .5s;
}

.button2 {
  padding: 10px 30px;
  background-color: #FFFFFF;
  color: #0e31b3;
  border-radius: 5px;
}

.button2:hover{
  background-color: #0e31b3;
  color: #FFFFFF;
  transition: .5s;
}