
  @media (min-width: 750px) {

    /*VIDEO*/
    #video{
      min-width: 170vw;
    }

    /*FORM*/
    .form{
      width: 600px;
    }

    /*TEMARIO*/
    #temario, #temarioTrading{
      width: 500px;
    }
  }

