  /*BANNER TEXT*/
  .banner-text {
    text-align: center;
    color: white;
  }

  .banner-text h1 {
    font-size: 70px;
    margin-bottom: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    max-width: 850px;
    margin: 0 auto;
  }

  .banner-text span {
    font-weight: 900;
  }

  .banner-text h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 30px auto;
    max-width: 560px;
  }

  .banner-text div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button1 {
    padding: 10px 10px;
    background-color: #0e31b3;
    color: #FFFFFF;
    border-radius: 5px;
    width: 185px;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
  }

  .button1:hover {
    background-color: #FFFFFF;
    color: #0e31b3;
    transition: .5s;
  }

  .button2 {
    padding: 10px 30px;
    background-color: #FFFFFF;
    color: #0e31b3;
    border-radius: 5px;
    width: 185px;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
  }

  .button2:hover {
    background-color: #0e31b3;
    color: #FFFFFF;
    transition: .5s;
  }

  @media (max-width: 750px){

        .banner-text h1 {
          font-size: 36px;
          margin-bottom: 30px;
        }
        .banner-text {
          font-size: 20px;
        }
        .nombre-curso {
          max-width: 800px;
        }
        .banner-text div {
          flex-direction: column;
        }
        .cards {
          margin: 5rem 0;
        }

        .btn-descarga {
          margin: 2rem auto 2rem auto;
        }
  }
